body {
    background-color: black;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    border: 2px solid blue;
    padding: 10px;
    margin-top: 20px;
}
.header {
    background-color: blue;
    color: white;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
}
.content {
    padding: 10px;
    font-size: 18px;
    line-height: 1.6;
}
.footer {
    background-color: blue;
    color: white;
    padding: 5px;
    font-size: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.melding-blok {
    background-color: #000;
    border: 2px solid yellow;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px yellow;
    font-family: 'Courier New', Courier, monospace;
}

.melding-blok p {
    margin: 5px 0;
    font-size: 16px;
    color: yellow;
}

.melding-blok strong {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.melding-blok .datum {
    color: yellow;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}

